.raleway-thin {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-style: normal;
    }
    
    .raleway-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    }
    
    .raleway-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .raleway-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    }
    
    .raleway-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    }
    
    .raleway-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    }
    
    .raleway-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    }
    
    .raleway-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    }
    
    .raleway-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    }
    
    .raleway-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    }
    
    .raleway-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    }
    
    .raleway-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    }  
    
    .colorFondo {
        background-color: #ffffff;
    }
    
    .colorFondo2 {
        background-color: #0099ff;
    }
    
    .colorFuente {
        color: #050a12
    }
    .colorCarrito { 
        background-color: #e2edff;
    }